<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>AssociatedBundleIdentifiers</key>
		<array>
			<string>io.github.yatotm.codexbar.debug</string>
		</array>
		<key>BundleProgram</key>
		<string>Contents/Resources/CodexBarHelper</string>
		<key>KeepAlive</key>
		<true/>
		<key>Label</key>
		<string>io.github.yatotm.codexbar.debug.helper</string>
		<key>MachServices</key>
		<dict>
			<key>io.github.yatotm.codexbar.debug.helper</key>
			<true/>
		</dict>
		<key>ProcessType</key>
		<string>Background</string>
		<key>RunAtLoad</key>
		<true/>
	</dict>
</plist>
